@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@400;700&display=swap');

.App {
  text-align: center;
  /* height: 100vh; */
}

.welcome-note {
  font-family: "Edu VIC WA NT Beginner", cursive;
  color: white;
}

.brand-name {
  color: white !important;
  font-weight: 700;
}

h1.welcome-note {
  font-size: 5rem;
  font-weight: 700;
}

h2.welcome-note {
  font-size: 3rem;
  font-weight: 900;
}

.impression-text {
  color: white;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

h1.impression-text {
  font-size: 3.5rem;
}

h2.impression-text {
  font-size: 2rem;
}

.card-t {
  font-family: 'Neuton', serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-imp {
  font-family: 'Neuton', serif;
  font-size: 1.5rem;
  font-weight: 400;
}